*{
    margin: 0;
    padding: 0;
}
div{
    float: left;
}
.first
{
  width: 300px;
  height: 200px;
  background: crimson;
  margin: 5px;
}
.first .daire{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: darkgoldenrod;
    border-radius: 50%;
    left: 15%;
}
.second
{
  width: 300px;
  height: 200px;
  background: crimson;
  margin: 5px;
}
.second .daire{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: darkgoldenrod;
    border-radius: 50%;
    left: 15%;
}
